{% extends 'main.html' %} {% block content %}
<div>
  <div>
    <h5>{{rooms_count}} rooms available</h5>
    <a href="{% url 'create-room' %}">Create Room</a>
    <hr>
  </div>

  <div>
    <h3>Browse Topics</h3>
    <hr>
    <div> 
      <a href="{% url 'home' %}">All</a>
      {% for topic in topics %}
          <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
      {% endfor %}
  </div>
  </div>

  <div>
    {% for room in rooms %}
    <div>
      <a href="{% url 'update-room' room.id %}">Update Room</a>
      <a href="{% url 'delete-room' room.id %}">Delete</a>
  
      <span>@{{room.host.username}}
      <h5><a href="{% url 'room' room.id %}">{{room.id}} = {{room.name}}</a></h5>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}